.nav{
    background-color:black;
    color: rgb(209, 19, 136);
    text-align: center;
    font-size: large;
    font-weight:bolder ;
    flex: inherit;
    word-spacing:1cm ;
}
.nav li{
    display: inline-flex;
}
.nav ul{
    list-style: none;
    background-color: white;
    text-align:center;
}
h3{
    color:red;
    font-size: 0.5cm;
}
h2{
    color:rgb(209, 19, 136); 
    text-align: center;
}
.about{
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    width:100%;
    
}
p{
    text-align: center;
    font-size: xx-large;
}
.about1, .about2, .about3{
    display: flex;
    
     
}
.text1, .text3{
    padding-left: 50px;
    width: 1000px;
}
.text2{
    width:700px
}
.image2{
    padding-left: 50px;
}