.donate{
    background-image: url(background.jpeg);
    background-size: cover;
    text-align: center;
    font-size: larger;
    height: 700px;

}
.donate span{
    color: black;
    font-weight: bolder;
    font-size: 2cm;
}

h3{
    color:rgb(209, 19, 136); 
}
.nav{
    background-color:black;
    color: rgb(209, 19, 136);
    text-align: center;
    font-size: large;
    font-weight:bolder ;
    flex: inherit;
    word-spacing:1cm ;
    
    
}
    
.nav li{
    display: inline-flex;
    
    
}
.nav ul{
    list-style: none;
    background-color: white;
    text-align:center;
    
    
}