h1{
    color:black;
    
    text-shadow: red;
    font-size:3cm;
    
}
h2{
    color:rgb(209, 19, 136);
    font-size: 2cm;
    
    
}


.home{
      text-align:center;
      height: 100vh;
      background-image: url(background.jpeg);
      background-size: contain;
}
.nav{
    background-color:black;
    color: rgb(209, 19, 136);
    text-align: center;
    font-size: large;
    font-weight:bolder ;
    flex: inherit;
    word-spacing:1cm ;
    
    
}
    
.nav li{
    display: inline-flex;
    
    
}
.nav ul{
    list-style: none;
    background-color: white;
    text-align:center;
    
    
}
